input.inputBox {
    font-size: 22px;
    padding: 5px 8px 4px 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #666;
    width: 200px; /* Adjust the width as needed */
  margin-left: auto; /* Move the input to the right */
  margin-right: 10px; /* Add some right margin for spacing */
  }
  
  .calendarWrap {
    display: inline-block;
    position: relative;
  }
  
  .calendarElement {
    position: absolute;
    left: 50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    top: 40px;
    border: 1px solid #ccc;
    z-index: 999;
}